
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        

    </ul>
    <div class="carousel-inner">
        <div class="carousel item active">
            <img src="img/background.png" />

        </div>
        <div class="carousel item">
            <img src="img/background2.png" />


    </div>
</div>